body {
  margin: 0;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}



::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 20px; 
}
