body {
  overflow-y: scroll !important;
}

.builder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  /* overflow-y: scroll !important; */
}

.subhead {
  font-weight: bolder;
}

.line {
  width: 570px;
}

@media screen and (max-width: 768px) {
  .builder-body {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .builder-body>.left {
    overflow-y: scroll;
    height: 400px !important;
  }

  .builder-body>.pdf {
    max-width: 595px;
    max-height: 900px;
    width: 80% !important;
    height: 80vh !important;
  }
}

.builder-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.builder-body>.left {
  margin: 10px;
  border: 3px solid black;
  overflow-y: scroll;
  height: 830px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 0;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.div {
  display: flex;
  width: max-content;
  justify-content: space-between;
}

.builder-body>.div>.resume {
  width: 560px;
  background-color: white !important;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  box-shadow: 5px 10px;
  white-space: pre;
  border: 2px black solid;
}

.left {
  margin-bottom: 50px;
  padding: 0 40px;
}

.left>form {
  display: flex;
  flex-direction: column;
}

form>.pd-2 {
  display: flex;
  flex-direction: column;
}

form>.ed-1,
.ed-2 {
  display: flex;
  flex-direction: column;
}

form>.skill {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  padding: 15px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

textarea {
  border: none;
  padding: 15px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

h2 {
  margin-top: 10px;
}

.pe>.pe-desc-1 {
  display: flex;
  flex-direction: column;
}

button {
  background-color: none;
  border: none;
}

.btn {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 60px;
  font-weight: bold;
  transition: ease-out 0.4s all;
  margin-bottom: 20px;
}

.btn:hover {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  color: black;
  background-color: white;
}

.org,
.lang,
.tech,
.prj,
.cert {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.download-link {
  margin: 10px;
}

.download-link>a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.header>.logo2 {
  height: 40px;
}

.header>.logo {
  height: 40px;
}